<h1>Listing attendee_types</h1>

<table>
  <tr>
  </tr>

<% @attendee_types.each do |attendee_type| %>
  <tr>
    <td><%= link_to 'Show', attendee_type %></td>
    <td><%= link_to 'Edit', edit_attendee_type_path(attendee_type) %></td>
    <td><%= link_to 'Destroy', attendee_type, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New attendee_type', new_attendee_type_path %>